.heading{
  font-family: cursive;
}
.bar{
  text-align: right;
  padding: 10px;
  margin: 0px;
  background-color: rgb(170, 170, 170);
}
a{
  margin: 10px;
  color: black;
}
a:hover{
  color: blue;
}
.main{
  margin: 0 20px;
  margin-bottom: 10%;
  font-family: Arial, sans-serif;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(170, 170, 170);
  color: rgb(0, 0, 0);
  text-align: center;
}

a{
  text-decoration: none;
  
}
.icon{
  height: 20px;
  width:20px;
  padding: 0 5px;
  margin:10px 0 0 0;
}
.project{
  float: left;
  width: 30%;
  border: 1px solid black;
  margin: 1%;
}
.project>img{
  width:20vw;
  height: 20vw;
  margin:10px;
  border-radius: 50%;
}
.project .text {
  padding: 40px;
  font-size: larger;
}
#aboutUs{
  clear:both;
}